<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet/less" type="text/css" href="./_css/style.less" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>História</title>
</head>
<body>
    <h1>História</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In commodo, erat vitae bibendum mattis, ante nisi gravida magna, ac porttitor mauris urna sed enim. Donec enim sapien, condimentum nec blandit quis, porta ac orci. Sed eu hendrerit felis. Cras molestie ipsum a orci sollicitudin, non consectetur orci malesuada. Curabitur vel nibh ut est pretium consequat. Vestibulum ultrices tortor non condimentum cursus. Maecenas nisl sem, venenatis non ante quis, cursus laoreet metus. Aliquam fermentum sapien non efficitur aliquet. Vestibulum a ex commodo, consectetur lectus id, gravida dolor. Fusce sed mi tincidunt erat aliquam luctus. Curabitur ullamcorper augue in ante feugiat varius. Nulla ac volutpat mauris. Vivamus aliquet dui massa. </p>
    
    <a href="/less">Home</a>
    <script src="https://cdn.jsdelivr.net/npm/less@4" ></script>
</body>
</html>